/* General */
body {
    font-family: "Oxanium", sans-serif;
}

/* Header (Hero) */
.hero {
    background-color: #0D3584;
    padding: 20px 0;
    text-align: center;
}

.hero h1 {
    color: white;
    font-size: 130px;
    margin-bottom: 10px;
}

/* Banner */
.banner {
    height: 500px;
    background: url("../img/banner.jpg") center/cover no-repeat;
    position: relative;
}

.banner-text {
    background-color: rgba(0, 51, 102, 0.8);
    color: white;
    padding: 10px 0;
    width: 100%;
}

/* Sección Deportes */
.favoritos-icons {
    gap: 60px; /* Aumenta el espacio entre íconos */
}

.favoritos-icons img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #F9A40C; /* Cambia el color del fondo */
    padding: 10px;
}

/* Sección Noticias */
.noticia-card img {
    height: 200px;
    object-fit: cover;
}

/* Footer */
.footer {
    background-color: #0D3584;
    color: white;
    text-align: center;
    padding: 15px 0;
}
